<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="evReact" version="0.9.1" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="Suave" version="1.0.0" targetFramework="net452" />
  <package id="Suave.EvReact" version="0.2.0" targetFramework="net452" />
</packages>